<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--META TAGS-->
    <meta name="description" content="Encuentra tu proxima mascota haciendo match en pinder, unete a nuestra comunidad y haz match con tu proxima mascota."/>
    <meta name="keywords" content="pinder, mascota, pet, gatos,perros, adopta,adoptar, adopcion,blog, blogs, post"/>
    <!---- Favicon-->
     <link rel="shortcut icon" href="{% static 'pinderApp/assets/favicon.ico' %}">
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- CSS -->
    <link href="{% static 'pinderApp/css/style.css' %}" rel="stylesheet" />

    <title>Pinder</title>
</head>
<body class="landing__bg">

    <header>
        <nav class="navbar navbar-expand-lg bg-app-landing">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="{% static 'pinderApp/assets/logo.png' %}" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end bg-dark " tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header ">
                        <h5 class="offcanvas-title text-light" id="offcanvasNavbarLabel">Pinder </h5>
                        <button type="button" class="btn-close text-light" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body bg-dark">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            {% if request.user.is_authenticated %}

                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{% url 'feed' %}">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'about' %}">Sobre Nosotros</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">Log <span>Out</span></a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'about' %}">Sobre Nosotros</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'register'%}">Sign <span>Up</span></a>
                            </li><li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">Log <span>In</span></a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

    </header>
    <!--main-->
    <main class="landing__main ">

        <h1>Bienvenido a</h1>
        <img src="{% static 'pinderApp/assets/logo.png' %}" alt="logo">
        <p>Encuentra a tu próxima compañia al lado de una mascota.</p>
        <a href="{% url 'feed' %}" class="btn btn-landing">Unirse a la comunidad.</a>

    </main>
    <!--footer-->
    <footer class="landing__footer">
        <ul>
            <li>
                <a href=""><i class="bi bi-facebook"></i></a>
            </li>
            <li>
                <a href=""><i class="bi bi-instagram"></i></a>
            </li>
            <li>
                <a href=""><i class="bi bi-twitter"></i></a>
            </li>
        </ul>

        <p>© 2022 Pinder derechos reservados.</p>

    </footer>




    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>