{% extends 'pinderApp/layout.html' %}
{% block title %}Borrar post {{post.nombre}}{% endblock title %}
{% block content %}

<article class="postear container">
    <form method="post" enctype="multipart/form-data" class="form-delete">
        {% csrf_token %}
       
        <h2>BORRAR POST!</h2>
        <p>¿Esta seguro de eliminar el post?</p>
        <div class="article-delete">
            <a href="{% url 'feed'%}" class="btn">Cancelar</a>
            <button type="submit" class="btn--form btn">Borrar Post! </button>
        </div>
    </form>
   
</article>

{% endblock %}